#root1 {
    margin: 0;
    background-color: white;
    display: flex;
    height: 100vh;
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    height: 100vh;
}

#left_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 10px;
    border-right: 0.5px solid;
}

#right_header{
    position: absolute;
    top: 0;
    right: 0;
}

.header_buttons {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    outline: none;
    margin-top: 1px;
}


.header_buttons img {
    max-width: 100%;
    height: auto;
}
